// Grid settings
@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    5;

// Brand colors
@packer-green:								#384523;
@packer-yellow:								#FFCB3F;
@brand-primary:								@packer-green;
@link-color:            			lighten(@packer-green, 5%);
// @body-bg: @gray;


// Fonts
@font-family-sans-serif:  "adelle-sans",sans-serif;
@font-family-serif:       "adelle",serif;
@font-family-base:        @font-family-serif;
@font-size-base:          16px;

// Headings
@headings-font-weight:    800;
@headings-line-height:    1.25;


// Glyphicons path
@icon-font-path:        "../vendor/bootstrap/fonts/";


// Navbar
@navbar-default-bg:												@brand-primary;
@navbar-default-brand-color:							@packer-yellow;
@navbar-default-link-color:								@packer-yellow;
@navbar-default-link-hover-color:         lighten(@navbar-default-link-color, 10%);
@navbar-default-link-active-color:        darken(@navbar-default-link-color, 10%);
@navbar-default-link-active-bg:           lighten(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:      darken(@navbar-default-link-color, 50%);


// Footer
@footer-height:														100px;

// media query helpers (http://www.thedotmack.com/2013/11/18/less-media-query-mixins/)
@xs: ~'max-width: @{screen-xs}';
@sm: ~'max-width: @{screen-sm-max}';
@md: ~'max-width: @{screen-md-max}';



