.home .navbar {
	margin-bottom: 0;
}

// Start Home Banner
.yellowback {
	background-color: #ffc20e;
	margin-bottom: 20px;
	min-height: 400px;
}

a:hover {
	h2 {
		color: @packer-yellow;
	}
}
 	
.featured {
	margin: @line-height-computed 0;

	h2 {
		color: @gray-lighter;
		text-shadow: 2px 2px 2px @packer-green;
		letter-spacing: .06rem;
		bottom: 1%;
		position: absolute;
		margin-left: 3%;
		margin-right: 3%;
		width: 90%;
	}
}

.trending {

	.h1 {
		margin-bottom: 0;
	}

	h3 {
		margin-top: 0;
	}
}

// Start Homepage posts

// To Do: these styles are basically the same as the Featured post section
// Find a way to do this with LESS / mixins or something

.has-post-thumbnail {
	header {
		margin-bottom: 7px;
		position: relative;

		h2 {
			bottom: 1%;
			line-height: 1.15;
			margin-left: 3%;
			margin-right: 3%;
			position: absolute;
			width: 90%;		
		}

		a {
			color: @gray-lighter;
			text-shadow: 2px 2px 2px @packer-green;
			letter-spacing: .06rem;		
		}
	}

	.entry-summary {
		margin-bottom: 20px;
	}
}

header {
	position: relative;
}

.image-credits {
	position: absolute;
	bottom: 1%;
	right: 1%;
	margin-left: 3%;
	margin-right: 3%;
	font-family: @font-family-sans-serif;
	font-size: 10px;

	a {
		color: @gray-lighter;
		opacity: 0.75;
	}
}