// Navbar
@media (min-width: @grid-float-breakpoint) {
  #menu-primary-navigation {
    margin-top: 12px;
  }
}

.navbar-default {

  .navbar-brand {
    &:hover,
    &:focus {
      color: lighten(@navbar-default-brand-color, 10%);
    }
  }	
  .navbar-toggle {
    border-color: @packer-yellow;
    &:hover,
    &:focus {
      background-color: lighten(@navbar-default-bg, 5%);
    }
    .icon-bar {
      background-color: @packer-yellow;
    }
  }
 }

.logo {
  margin: 0 auto;
  width: 300px;
  height: 50px;
  padding-right: 70px;
  margin-top: 10px;

	@media(@xs) { 
  	width: 250px;
  }

}