.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }


/* RRSSB Social Share Buttons */
.rrssb-buttons {
	margin-top: 20px;
}

.rrssb-buttons li a {
	font-size: 16px;
	line-height: .85;
	text-transform: capitalize;
}

.rrssb-buttons.large-format li a .text {

	font-size: 1.2vw;

	@media(@md) { 
  	font-size: 16px;
  }
}
/* End RRSSB */